@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=PT+Sans&family=Roboto+Condensed:wght@300&display=swap');

div .disabled {
    pointer-events:none;
    background:#e4e4e4;
}

div .component-block {
    padding: 20px;
    background-color: #ffffff;
    margin-top:20px;
    border-radius: 10px;
    border: solid 1px #d3c3b6;
}

.component-block h3 {
    margin-top: 0px;
}

#table_data {
    overflow-x: auto;
    overflow-y: auto;
    height: 300px;
}

#output-data-upload{
    background-color: rgb(212 212 212);
    border: #a3a3a3 1px solid;
}

#output-data-upload hr{
    display: none
}

#output-median p{
    margin-bottom: 0px
}

.div_btn {
    text-align: center;
}

div.card-graph{
    padding: 20px;
}

div.dash-graph {
    border: solid 4px #ececec;
}

.p-title {
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 0.01rem
}

#title_dropdown_factor, #title_factor_unique {
    margin-top: 15px
}

#title_dropdown_factor {
    margin-top: 15px
}

.tooltip-inner {
    text-align: start;
    max-width: 500px !important
}

body {
    background-color: #cbb59b;
}

html, body {
    font-family: Arial, sans-serif;
    color: #261406;
}

.uppercase {
    text-transform: uppercase;
}

.logo-info {
    color: #7d6857 !important;
    text-decoration: none
}

#navbar {
    background-color: #f2ede9;
    color: #7d6857 !important;
    text-align:center;
    border-bottom: solid;
}

#navbar p
{
    margin-bottom: 0.01rem;
    font-size: 25px
}

#logo {
    padding: 5px 10px
}

#footer {
    background-color: #343434;
    margin-top: 25px;
    color: #b4a191;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.14px;
    padding-top: 20px
}

.non_indent
{
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
